.main-contacto { display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2px;
    @include respond-to(mobile) {
        grid-template-rows: auto;
        grid-template-columns: repeat(6, auto);
      }
  }
  
  .imagen-contacto {
    padding: 10%;
    grid-column: 4/10;
    grid-row: 8/8;
    height: 50em;
    @include respond-to(mobile) {
      height: 0%;
      }
  }
  .dudas {
    grid-column: 2/12;
    grid-row: 2/2;
    font-size: 25px;
    margin-top: 3%;
    color: rgb(27, 53, 130);
    @include respond-to(mobile) {
        font-size: 20px;
        grid-column: 1/7;
      }
    }
  .nombre, .correo, .escribe {
        font-style: normal;
        text-align: center;
        grid-column: 4 / 9; 
        padding: 3%;
        @include respond-to(mobile) {
            grid-column: 1/7;
        }
      }
  .nombre {
        margin-top: 10%;
        grid-row: 3 / 8;
        @include respond-to(mobile) {
            grid-row: 3;
          } 
      }

  .correo {
        margin-top: 4%;
        grid-row: 5;
        @include respond-to(mobile) {
            grid-row: 5;
          } 
      }

  .escribe {
        grid-row: 6;
        @include respond-to(mobile) {
            grid-row: 7;
          } 
      }
  .input-uno, .input-dos, .input-tres, .enviar {
        grid-column: 5 / 8; 
        width: 100%; 
        padding: 10px;
        @include respond-to(mobile) {
            grid-column: 1/7;
          } 
      }
  .input-uno {
        grid-row: 4;
        margin-top: 6rem;
        @include respond-to(mobile) {
            grid-row: 4;
          } 
        
    }
  .input-dos {
        grid-row: 5;
        margin-top: 20%;
        @include respond-to(mobile) {
            grid-row: 6;
          } 
    }
  .input-tres {
        grid-row: 6;
        width: 100%;
        margin-top: 15%;
        @include respond-to(mobile) {
            grid-row: 8/8;
          } 

    }
    
  .enviar {
        grid-row: 7;
        margin-top: 2rem;
        width: 100%;
        @include respond-to(mobile) {
            grid-row: 9;
            width: auto;
          } 
}  